.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    font-size: 11pt;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content form {
    display: flex;
    margin: 10px 0;
    gap: 15px;
}

.sidebar-modal {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.modal-general-column {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
}

.modal-general-column::-webkit-scrollbar, .selectable-list::-webkit-scrollbar {
    width: 8px;
    margin: 10px;
}

.modal-general-column::-webkit-scrollbar-track, .selectable-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal-general-column::-webkit-scrollbar-thumb, .selectable-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.modal-general-column::-webkit-scrollbar-thumb:hover, .selectable-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--border-color);
}

.modal-navbar {
    padding: 0;
    margin: 0;
    width: 200px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-button {
    width: 100%;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    border-right: none;
    text-align: left;
    font-size: 11pt;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.25s ease;
    border-radius: 4px 0 0 4px;
}

.navbar-button:hover {
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-button.active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--border-color);
    border-right: none;
}

.modal-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.modal-column {
    padding: 0 20px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-full-width {
    width: 100%;
}

.modal-row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.modal-content label {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.inline-label {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    gap: 10px;
}

.no-flex-label {
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-start !important;
    width: 100%;
    gap: 5px;
}

.modal-content input,
.modal-content select {
    padding: 5px 10px;
    font-size: 10pt;
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    font-family: 'Poppins', sans-serif;
    outline: none;
    width: 100%;
}

.modal-content input:hover,
.modal-content select:hover {
    border-color: var(--border-color);
}

.modal-content input:focus,
.modal-content select:focus {
    border-color: var(--border-color);
    box-shadow: 0 0 5px rgb(108, 108, 108);
}

input[type="color"] {
    padding: 0;
    height: 32px;
    margin: 0;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
    border-radius: 8px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 8px;
}

.modal-content .toggle-checkbox {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 20px;
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-right: 10px;
    outline: none;
}

.modal-content .toggle-checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: all 0.25s ease;
    transform: translateX(0);
}

.modal-content .toggle-checkbox:checked {
    background-color: var(--text-color);
    border-color: var(--secondary-color);
}

.modal-content .toggle-checkbox:checked::before {
    background-color: var(--secondary-color);
    transform: translateX(18px);
}

.modal-content .toggle-checkbox:hover {
    border-color: var(--border-color);
    box-shadow: 0 0 5px rgba(187, 0, 255, 0.2);
}

.modal-content .toggle-checkbox:focus {
    border-color: var(--border-color);
    box-shadow: 0 0 8px rgba(187, 0, 255, 0.3);
}

.modal-actions {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0.75rem;
    border-top: 1px solid #444;
}

#icon-preview-container {
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.25s;
}

#icon-preview-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#icon-preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#icon-preview-container.has-image svg {
    display: none;
}

#icon-preview-container:hover {
    border: 1px solid var(--border-color);
}

.selectable-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
}

.selectable-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.select-checkbox {
    height: 15px !important;
    width: 15px !important;
}

.selectable-list-item p {
    padding: 0;
    margin: 0;
}

.selectable-list-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

@media (max-width: 600px) {
    .modal-content {
        margin: 1rem;
        padding: 1.5rem;
    }

    .modal-actions {
        flex-direction: column;
    }

    .modal-actions button {
        width: 100%;
    }
}